# Revisão 02

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cursos-prouni.csv')

In [16]:
# Listar as primeiras 5 linhas
df.head(5)

(41447, 20)

In [6]:
# Listar 5 linhas aleatórias
df.sample(5)

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
7432,Tecnológico,Noturno,983.26,1.0,2.0,1.0,2.0,658731713153,Redes de Computadores,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Faculdade de Tecnologia Carlos Drummond de And...,CAMPUS - SÃO PAULO - TATUAPÉ - Tatuapé,658731,Redes de Computadores,540.34,450.00,450.00,450.00
24643,Licenciatura,Curso a Distância,325.00,0.0,1.0,NaN,NaN,200282113048185,História,Bage,RS,NDMwNjAzMTAxNjAy,Faculdade Educacional da Lapa - FAEL,RS - BAGÉ - POLO EAD - Centro,2002821,História,583.26,NaN,NaN,NaN
27216,Licenciatura,Curso a Distância,299.00,1.0,NaN,NaN,NaN,20067341234725,Matemática,Sao Miguel do Guapore,RO,MTEwMjAwNTAwMzIw,Centro Universitário Claretiano - Ceuclar - CE...,SÃO MIGUEL DO GUAPORÉ - Centro,2006734,Matemática,493.46,NaN,NaN,NaN
13841,Bacharelado,Matutino,654.36,NaN,NaN,1.0,1.0,701928965891,Administração,Campo Limpo Paulista,SP,MzUxMjA0NzA5NjAx,Faculdade Campo Limpo Paulista - FACCAMP,NEAD CAMPUS VIRTUAL FACCAMP - Jardim América,701928,Administração,NaN,NaN,538.66,525.44
12819,Bacharelado,Noturno,696.20,8.0,2.0,NaN,NaN,65864913225423,Farmácia,Jequie,BA,MjkwNjAyNDE4MDAx,Faculdade de Tecnologia e Ciências de Jequié -...,UNIDADE SEDE - Campo do América,658649,Farmácia,605.86,599.44,NaN,NaN

In [8]:
# O formato do dataframe - shape não é uma função, e sim uma propriedade, portanto não usa ()
df.shape

(41447, 20)

In [9]:
df1 = pd.read_csv?

In [14]:
# Criar um novo dataframe pulando as 5 primeiras linhas
df1 = pd.read_csv('cursos-prouni.csv', skiprows=5)
df1.head(2)

,Bacharelado,Integral,9674.34,4,1,5,2,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jardim Europa II,658996,Medicina.1,758.32,723.94,734.92,711.26
0,Bacharelado,Integral,9650.0,8.0,15.0,NaN,NaN,65781564964,Medicina,Presidente Prudente,SP,MzUwODAzNjQxNDA2,Universidade do Oeste Paulista - UNOESTE,CAMPUS I SEDE ADMINISTRATIVA PRESIDENTE PRUDE...,657815,Medicina,738.92,728.86,NaN,NaN
1,Bacharelado,Integral,9564.0,3.0,5.0,NaN,NaN,65788486984,Medicina,Marilia,SP,MzUwOTAzODI5MDA1,Universidade de Marília - UNIMAR,UNIDADE SEDE - Campus Universitario,657884,Medicina,744.16,735.00,NaN,NaN

In [11]:
df1.shape

(41442, 20)

In [15]:
# Mostrar os títulos das colunas
df.columns

Index(['grau', 'turno', 'mensalidade', 'bolsa_integral_cotas',
       'bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla',
       'curso_id', 'curso_busca', 'cidade_busca', 'uf_busca', 'cidade_filtro',
       'universidade_nome', 'campus_nome', 'campus_id', 'nome',
       'nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla',
       'nota_parcial_cotas'],
      dtype='object')

In [17]:
# Sobrescrever o df1 com 3 colunas específicas
df1 = df[['mensalidade', 'cidade_busca', 'uf_busca']]
df1

       mensalidade          cidade_busca uf_busca
0          9999.99          Campo Grande       MS
1          9836.40               Crateus       CE
2          9715.61             Sao Paulo       SP
3          9689.34               Crateus       CE
4          9674.34            Rio Branco       AC
...            ...                   ...      ...
41442       149.00  Paraiso do Tocantins       TO
41443       144.00           Sao VIcente       SP
41444       139.00              Brasilia       DF
41445       139.00               Vitoria       ES
41446       139.00              Santarem       PA

[41447 rows x 3 columns]

In [18]:
# Maior mensalidade
df1['mensalidade'].max()

9999.99

In [19]:
# Listar as principais informações 
df1.describe()

        mensalidade
count  41447.000000
mean     622.636966
std      606.442296
min      139.000000
25%      278.000000
50%      393.350000
75%      825.000000
max     9999.990000

In [23]:
# Listar a maior mensalidade por estado
df1.groupby('uf_busca')['mensalidade'].max()

uf_busca
AC    9674.34
AL    7290.00
AM    2127.05
AP    3607.62
BA    9048.00
CE    9836.40
DF    6757.92
ES    6022.28
GO    6484.47
MA    8281.38
MG    9350.00
MS    9999.99
MT    9208.00
PA    8508.54
PB    8350.00
PE    7250.00
PI    8402.00
PR    8466.72
RJ    9023.07
RN    6505.09
RO    6909.97
RR    1463.05
RS    8329.95
SC    6922.15
SE    6490.00
SP    9715.61
TO    7800.00
Name: mensalidade, dtype: float64

In [24]:
df.head(5)

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [38]:
# Quantos cursos de medicina
df[df['curso_busca'] == 'Medicina'].count()

grau                    124
turno                   124
mensalidade             124
bolsa_integral_cotas    122
bolsa_integral_ampla    117
bolsa_parcial_cotas      23
bolsa_parcial_ampla      22
curso_id                124
curso_busca             124
cidade_busca            124
uf_busca                124
cidade_filtro           124
universidade_nome       124
campus_nome             124
campus_id               124
nome                    124
nota_integral_ampla     122
nota_integral_cotas     107
nota_parcial_ampla       24
nota_parcial_cotas       21
dtype: int64

In [42]:
# Mensalidade > 500 e < 800
df[(df['mensalidade'] < 800) & (df['mensalidade'] > 500)].sort_values('mensalidade')

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
17685,Bacharelado,Curso a Distância,500.10,1.0,NaN,NaN,NaN,106342212950755,Ciências Contábeis,Salvador,BA,MjkwNTAyMTI3NDA4,Centro Universitário Jorge Amado - UNIJORGE,POLO SALVADOR COMÉRCIO IV - Comércio,1063422,Ciências Contábeis,655.52,NaN,NaN,NaN
17684,Bacharelado,Curso a Distância,500.54,0.0,2.0,NaN,NaN,104909911152245,Ciências Contábeis,Porto Alegre,RS,NDMwNTAyNjE0OTAy,Universidade do Vale do Rio dos Sinos - UNISINOS,UNISINOS PORTO ALEGRE - Três Figueiras,1049099,Ciências Contábeis,621.86,NaN,NaN,NaN
17683,Tecnológico,Noturno,500.61,NaN,NaN,4.0,2.0,104100011869453,Gestão de Segurança Privada,Porto Velho,RO,MTEwMTAwMTAwMjA1,Faculdade Metropolitana - UNNESA,UNIDADE SEDE - Jardim Eldorado,1041000,Gestão de Segurança Privada,NaN,NaN,544.74,519.06
17682,Tecnológico,Noturno,500.64,1.0,1.0,NaN,NaN,399714543,Gestão Ambiental,Barbacena,MG,MzExMTA1OTA1NjA4,Universidade Presidente Antônio Carlos - UNIPAC,BARBACENA - CAMPUS I - CAMPUS MAGNUS - Colônia...,399,Gestão Ambiental,598.40,562.96,NaN,NaN
17681,Tecnológico,Noturno,500.73,2.0,1.0,NaN,NaN,106776013216263,Gestão de Recursos Humanos,Natal,RN,MjQwNDAxODA4MTAy,Universidade Potiguar - UNP,UNIDADE JOÃO MEDEIROS - Potengi,1067760,Gestão de Recursos Humanos,600.48,576.64,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10753,Bacharelado,Matutino,799.07,1.0,3.0,NaN,NaN,1573505861,Direito,Limeira,SP,MzUwNjAyNzI2OTAy,Universidade Paulista - UNIP,LIMEIRA - Vila Independência,1573,Direito,610.78,633.08,NaN,NaN
10752,Tecnológico,Noturno,799.20,1.0,1.0,2.0,3.0,10007311862663,Gestão de Recursos Humanos,Agudos,SP,MzUwNDAyMDAwNzA5,Faculdade de Agudos - FAAG,CAMPUS - AGUDOS - Distrito Industrial,100073,Gestão de Recursos Humanos,549.06,586.80,454.80,450.00
10751,Bacharelado,Noturno,799.35,4.0,3.0,NaN,NaN,65913250001943,Serviço Social,Caruaru,PE,MjYwMzAwODA0MTA2,Centro Universitário Tabosa de Almeida - ASCES...,UNIDADE SEDE - Universitário,659132,Serviço Social,594.52,581.92,NaN,NaN
10750,Bacharelado,Noturno,799.54,1.0,3.0,NaN,NaN,365595883,Farmácia,Araraquara,SP,MzUwNTAyNDAzMjA4,Universidade Paulista - UNIP,ARARAQUARA - Parque das Laranjeiras,365,Farmácia,601.74,607.30,NaN,NaN
10749,Bacharelado,Matutino,799.80,2.0,1.0,NaN,NaN,658088167411,Ciência da Computação,Goiania,GO,NTIwMzAxMDA4NzA3,Instituto Unificado de Ensino Superior Objetiv...,CAMPUS - GOIÂNIA - SETOR BUENO - Setor Bueno,658088,Ciência da Computação,639.40,581.68,NaN,NaN

In [47]:
# Selecionar o valor da mensalidade da linha 33
df.loc[33, 'mensalidade']

7946.35